html {
  body {
    font-family: 'Courier Prime', monospace;
    nav {
      color: #ffffff;
      background-color: #181818;
    }
    h1 {
      font-size: 30px;
      font-weight: 500;
      font-family: 'Orbitron', sans-serif;
    }
  }
}